/**
 * Variables configuration.
 */

// Compass plugins
@import "compass/css3";


// Custom Boostrap variables.

// Colors
$gray: #464646;

// Brand colors
// -------------------------
$brand-primary: #2e6ea4;

// Scaffolding
// -------------------------

$body-bg: #eaecde;
$text-color: #686761;

// Typography
// -------------------------
$font-family-sans-serif: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Iconography
// -------------------------
$icon-font-path: '../fonts/bootstrap/';

// Navbar
// -------------------------

// Basics of a navbar
$navbar-height: 50px;
$navbar-margin-bottom: 0;
$navbar-border-radius: 0;
$navbar-padding-horizontal: 0;

$navbar-default-color: #fff;
$navbar-default-bg: #3185af;
$navbar-default-border: transparent;

// Navbar links
$navbar-default-link-color: $navbar-default-color;
$navbar-default-link-hover-color: $navbar-default-color;
$navbar-default-link-hover-bg: #36637a;
$navbar-default-link-active-color: $navbar-default-color;
$navbar-default-link-active-bg: $navbar-default-link-hover-bg;

// Navbar toggle
$navbar-default-toggle-hover-bg: $navbar-default-link-hover-bg;
$navbar-default-toggle-icon-bar-bg: #ddd;
$navbar-default-toggle-border-color: $navbar-default-toggle-icon-bar-bg;

// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color: $navbar-default-color;
$navbar-inverse-bg: $gray;
$navbar-inverse-border: $navbar-default-border;

// Inverted navbar links
$navbar-inverse-link-color: $navbar-default-color;
$navbar-inverse-link-hover-color: $navbar-default-color;
$navbar-inverse-link-hover-bg: #656a6e;
$navbar-inverse-link-active-color: $navbar-default-color;
$navbar-inverse-link-active-bg: $navbar-inverse-link-hover-bg;
$navbar-inverse-link-disabled-color: #aaa;





// Boostrap Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Comunidade WordPress-BR variables
$text-margin-bottom: $line-height-computed / 2;
