.customize-color-palette {

	.customize-control-title {
		margin-bottom: 5px;
	}

	label {
		display: block;
	}

	input[type="radio"] {
	    display: inline;
	    margin-top: -24px;
	}

	.palette {
		display: inline-block;
	    width: 150px;
	}

	.color {
		float: left;
		width: 20%;
		height: 30px;
	}
}